.affix {
      top: 0;
      width: 100%;
}
 body {
      position: relative; 
  }
.affix + .container-fluid {
	     position: relative;

      padding-top: 58px;
}
 .navbar {
      margin-bottom: 0px;
  }
  
.span-logo {
	margin-top:-100px;
	display: inline-block;
	vertical-align: top;
	height: 50px;
	width: 52px;
	margin-top:-15px;
	opacity:5; !important;
}
img{
	height: 90px;
	width: 102px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}


.banner{
	height: 55px;
	text-align: center;
}



.box{
	margin: 0 auto;
	width:50px;
	height: 2px;
	background: black;
	animation-name: expandLines	;
	animation-duration: 2s;
	animation-iteration-count: 1;
	padding: 0 250px;
}

@keyframes expandLines{
	0%{
		padding: 0;		
	}
	90%{
		padding: 0 250px;
	}
}
